.logo-text {
  color: #ffffff;
}
.logo-icon {
  width: 34px;
  height: 34px;
  margin-left: 7px;
  margin-right: 20px;
}

.displayMenuButton {
  display: block !important;
}

@media (min-width: 1023px) {
  .displayMenuButton {
    display: none !important;
  }
}
