<div class="main-container" [ngClass]="{
  'minisidebar': miniSidebar,
  'boxed': boxed,
  'danger': danger,
  'blue': blue,
  'green': green,
  'dark': dark
}">

  <mat-toolbar color="primary" class="topbar telative">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">

        <!-- Logo icon -->
        <b>
          <!-- Dark Logo icon -->
<!--          <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo logo-icon">-->
          <!-- Light Logo icon -->
<!--          <img src="assets/images/logo-icon.png" alt="homepage" class="light-logo logo-icon">-->

        </b>

        <!-- Logo text -->
        <span fxShow="false" fxShow.gt-xs>
          <h1 class="dark-logo logo-text">{{ name }}</h1>
          <h1 class="light-logo logo-text">{{ name }}</h1>
        </span>

      </a>
    </div>

    <button mat-icon-button (click)="snav.toggle() && clickEvent()" value="sidebarclosed" class="displayMenuButton">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="srh-btn" (click)="search = !search" class="m-l-30">
      <mat-icon>search</mat-icon>
    </button>

    <form class="app-search" [ngClass]="{ 'show-search': search }">
      <input type="text" [formControl]="searchField" class="form-control"
             [placeholder]="'Search &amp; enter'" (keydown.enter)="onSearch()">
      <a class="cl-srh-btn" (click)="search = !search">
        <i class="ti-close"></i>
      </a>
    </form>

    <a *ngIf="mobileQuery.matches" class="mat-button title-text" fxFlex>
      <h1 class="title">{{ nameSystem }}</h1>
    </a>

    <span fxFlex></span>

    <app-header></app-header>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
                         [ngClass]="{'minisidebar': miniSidebar}">

    <mat-sidenav #snav id="snav" class="pl-xs dark-sidebar"
                 [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0"
                 [opened]="mobileQuery.matches"
                 [disableClose]="mobileQuery.matches"
                 (open)="sidebarOpened = true"
                 (close)="sidebarOpened = false"
                 [perfectScrollbar]="config">

      <app-sidebar class="app-sidebar"></app-sidebar>

    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper" [ngClass]="status ? 'minitoggle' : ''">

      <app-breadcrumb></app-breadcrumb>
      <div class="page-content">
        <router-outlet>
          <app-spinner></app-spinner>
        </router-outlet>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
