<!-- row -->
<div fxLayout="row wrap">

  <!-- column -->
  <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

    <mat-card>

      <mat-card-content>

        <mat-card-title>Points Balance</mat-card-title>
        <p>You still have {{ '500' }} points accumulated.</p>

        <h3>Last transactions of your account</h3>



      </mat-card-content>

    </mat-card>

  </div>

</div>

<!-- row -->
<div fxLayout="row wrap">

  <!-- column -->
  <div fxLayout="column" fxFlex.gt-sm="30" fxFlex="30">

    <app-address></app-address>

  </div>

  <!-- column -->
  <div fxLayout="column" fxFlex.gt-sm="70" fxFlex="70">

    <app-products appHideAuthorization permission="address"></app-products>

  </div>

</div>
