<!-- row -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

    <mat-card>

      <mat-card-content>

        <app-loading-spinner [is_show]="isLoading"></app-loading-spinner>

        <mat-card-title>Address ship</mat-card-title>
        <mat-card-subtitle>Change your address ship here.</mat-card-subtitle>

        <form (keydown.enter)="$event.preventDefault()"
          [formGroup]="resourceForm" (ngSubmit)="onSubmit()">

          <!-- row -->
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mt-3">

            <!-- column -->
            <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

                <mat-form-field>

                    <input matInput formControlName="country" placeholder="Country">

                    <mat-error *ngIf="resourceForm.get('country')?.hasError('required')">
                        O campo <b>Tecnologia</b> é obrigatório.
                    </mat-error>

                </mat-form-field>

            </div>

            <!-- column -->
            <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

              <mat-form-field>

                  <input matInput formControlName="state" placeholder="State">

                  <mat-error *ngIf="resourceForm.get('state')?.hasError('required')">
                      O campo <b>Tecnologia</b> é obrigatório.
                  </mat-error>

              </mat-form-field>

            </div>

            <!-- column -->
            <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

              <mat-form-field>

                  <input matInput formControlName="city" placeholder="City">

                  <mat-error *ngIf="resourceForm.get('city')?.hasError('required')">
                      O campo <b>Tecnologia</b> é obrigatório.
                  </mat-error>

              </mat-form-field>

            </div>

            <!-- column -->
            <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

              <mat-form-field>

                  <input matInput formControlName="county" placeholder="County">

                  <mat-error *ngIf="resourceForm.get('county')?.hasError('required')">
                      O campo <b>Tecnologia</b> é obrigatório.
                  </mat-error>

              </mat-form-field>

            </div>

            <!-- column -->
            <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

              <mat-form-field>

                  <input matInput formControlName="street" placeholder="Street">

                  <mat-error *ngIf="resourceForm.get('street')?.hasError('required')">
                      O campo <b>Tecnologia</b> é obrigatório.
                  </mat-error>

              </mat-form-field>

            </div>

            <!-- column -->
            <div fxLayout="column" fxFlex.gt-sm="100" fxFlex="100">

              <mat-form-field>

                  <input matInput formControlName="house_number" placeholder="House number">

                  <mat-error *ngIf="resourceForm.get('house_number')?.hasError('required')">
                      O campo <b>Tecnologia</b> é obrigatório.
                  </mat-error>

              </mat-form-field>

            </div>

            <mat-card-actions>
              <button [disabled]="!resourceForm.valid" mat-raised-button color="primary" type="submit">
                  ENVIAR
              </button>
            </mat-card-actions>

          </div>

        </form>

      </mat-card-content>

    </mat-card>

  </div>
</div>
