<!-- row -->
<div fxLayout="row wrap">

    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex="100">

        <mat-card>

            <app-loading-spinner [is_show]="isLoading"></app-loading-spinner>

            <mat-card-content>

                <mat-card-title>Usuário</mat-card-title>

                <mat-card-subtitle>Lista de usuários do sistema.</mat-card-subtitle>

                <button appHideAuthorization permission="user.create" [routerLink]="[ '/register/user/form' ]"
                        mat-fab color="primary" class="btn-new">
                    <mat-icon class="mat-18">add</mat-icon>
                </button>

                <section>

                    <form [formGroup]="resourceSearchForm" (ngSubmit)="onSearch()" class="basic-form">

                        <!-- row -->
                        <div fxLayout="row wrap" fxFlexAlign="center center" class="row">

                            <!-- column -->
                            <div fxFlex.gt-sm="40" fxFlexOffset.gt-sm="25" fxFlex="100" class="p-10" fxFlexAlign="center">
                                <mat-form-field>
                                    <input matInput formControlName="name" placeholder="Busca por nome">
                                    <button type="button" mat-button *ngIf="resourceSearchForm.get('name')!.value" matSuffix
                                            mat-icon-button aria-label="Clear"
                                            (click)="onReset()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>

                            <div fxFlex.gt-sm="10" fxFlex="100" class="p-10" fxFlexAlign="center">
                                <button mat-raised-button color="primary" type="submit">
                                    <mat-icon class="mat-18">search</mat-icon>
                                </button>
                            </div>


                        </div>

                    </form>

                </section>

                <hr style="margin: 15px 0" />

                <section>

                    <mat-card-title>Lista</mat-card-title>

                    <div class="table-rasponsive">

                        <mat-table #table [dataSource]="dataSource" style="max-height: 500px; overflow:auto;">

                            <!-- Protocolo Column -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="padding-left: 0px; min-width: 100px  !important;"> Ação </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="padding-left: 0px; min-width: 100px  !important;">

                                    <app-disable-authorization
                                            permission="user.update"
                                            type="link"
                                            [url]="'/register/user/form/' + row.id"
                                            icon="edit"
                                            color="primary">
                                    </app-disable-authorization>

                                    <app-disable-authorization
                                            permission="user.delete"
                                            type="btn-icon"
                                            icon="delete"
                                            (doClick)="onOpenDialog(row?.id)"
                                            color="warn">
                                    </app-disable-authorization>

                                </mat-cell>
                            </ng-container>

                            <!-- column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef  style="min-width: 65px !important;"> Código </mat-header-cell>
                                <mat-cell *matCellDef="let row"  style="min-width: 65px !important;"  title="{{ row.id }}">{{ row.id }}</mat-cell>
                            </ng-container>

                            <!-- column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef style="min-width: 360px" > Nome </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="min-width: 360px" title="{{ row.name }}">{{ row.name }}</mat-cell>
                            </ng-container>

                            <!-- column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef style="min-width: 250px"> E-mail </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="min-width: 250px" title="{{ row.email }}" >{{ row.email }}</mat-cell>
                            </ng-container>

                            <!-- column -->
                            <ng-container matColumnDef="phone_number">
                                <mat-header-cell *matHeaderCellDef style="min-width: 150px"> Telefone </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="min-width: 150px" title="{{ row.phone_number }}" >{{ row.phone_number }}</mat-cell>
                            </ng-container>

                            <!-- column -->
                            <ng-container matColumnDef="is_active">
                                <mat-header-cell *matHeaderCellDef style="min-width: 80px"> Ativo </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="min-width: 80px">{{ row.is_active ? "Ativo" : "Inativo" }}</mat-cell>
                            </ng-container>

                          <!-- column -->
                          <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef style="min-width: 150px !important;"> Criado em </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="min-width: 150px !important;" title="{{ row?.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}">
                              {{ row?.created_at | date: 'dd/MM/yyyy' }}
                            </mat-cell>
                          </ng-container>


                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>

                        <mat-paginator color="primary" [pageSizeOptions]="pageSizeOptions" [length]="length"
                                       [pageSize]="pageSize" (page)="pageChanged($event)" showFirstLastButtons>
                        </mat-paginator>

                    </div>

                </section>

            </mat-card-content>

        </mat-card>

    </div>

</div>
