<!-- row -->
<div fxLayout="row wrap">

    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex="100">

        <mat-card>

            <app-loading-spinner [is_show]="isLoading"></app-loading-spinner>

            <mat-card-content>
                <form (keydown.enter)="$event.preventDefault()" [formGroup]="resourceForm" (ngSubmit)="onSubmit()"
                      class="basic-form">

                    <!-- row -->
                    <div fxLayout="row wrap" fxFlexAlign="center">

                        <!-- column -->
                        <div fxFlex.gt-sm="80" fxFlex="100">
                            <mat-card-title>Usuário</mat-card-title>
                        </div>

                        <!-- column -->
                        <div fxFlex.gt-sm="20" fxFlex="100">
                            <go-back-button></go-back-button>
                        </div>

                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-card-subtitle>Cadastro de usuário.</mat-card-subtitle>
                        </div>

                    </div>

                    <section>

                        <!-- column -->
                        <div fxLayout="row wrap" fxFlexAlign="center" class="row">

                            <!-- column -->
                            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <input matInput formControlName="name" placeholder="Nome">

                                    <mat-error *ngIf="resourceForm.get('name')?.hasError('required')">
                                        O campo <b>Nome</b> é obrigatório.
                                    </mat-error>
                                    <mat-error *ngIf="resourceForm.get('name')?.errors?.serverError">
                                        <div *ngFor="let error of resourceForm.get('name')?.errors?.serverError">
                                            {{ error }}
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- column -->
                            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <input matInput type="email" formControlName="email" placeholder="E-mail">

                                    <mat-error *ngIf="resourceForm.get('email')?.hasError('required')">
                                        O campo <b>E-mail</b> é obrigatório.
                                    </mat-error>
                                    <mat-error *ngIf="resourceForm.get('email')?.errors?.serverError">
                                        <div *ngFor="let error of resourceForm.get('email')?.errors?.serverError">
                                            {{ error }}
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div fxLayout="row wrap" fxFlexAlign="center" class="row">

                            <!-- column -->
                            <div *ngIf="!resource_id" fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <input matInput formControlName="password" placeholder="Senha" [type]="hide_password ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide_password = !hide_password">{{hide_password ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    <mat-error *ngIf="resourceForm.get('password')?.hasError('required')">
                                        O campo <b>Senha</b> é obrigatório.
                                    </mat-error>
                                    <mat-error *ngIf="resourceForm.get('password')?.errors?.serverError">
                                        <div *ngFor="let error of resourceForm.get('password')?.errors?.serverError">
                                            {{ error }}
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- column -->
                            <div *ngIf="!resource_id" fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <input matInput appConfirmPasswordValidator inputName="password" formControlName="c_password" placeholder="Confirmar Senha" placeholder="Senha" [type]="hide_c_password ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide_c_password = !hide_c_password">{{hide_c_password ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    <mat-error *ngIf="resourceForm.get('c_password')?.hasError('required')">
                                        O campo <b>Confirmar Senha</b> é obrigatório.
                                    </mat-error>
                                    <mat-error *ngIf="resourceForm.get('c_password')?.hasError('differentPasswords') && !resourceForm.get('c_password')?.hasError('required')">
                                        Os campos <b>Senha e Confirmar Senha</b> devem corresponder.
                                    </mat-error>
                                    <mat-error *ngIf="resourceForm.get('c_password')?.errors?.serverError">
                                        <div *ngFor="let error of resourceForm.get('c_password')?.errors?.serverError">
                                            {{ error }}
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Column -->
                            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                                <label>Status </label>
                                <mat-radio-group formControlName="is_active" aria-label="Selecione uma opção">
                                    <mat-radio-button [value]="1">Ativo</mat-radio-button>
                                    <mat-radio-button class="m-l-10" [value]="0">Inativo</mat-radio-button>
                                </mat-radio-group>
                            </div>

                        </div>


                        <mat-card-actions>
                            <button [disabled]="!resourceForm.valid" mat-raised-button color="primary" type="submit">
                                ENVIAR
                            </button>
                        </mat-card-actions>


                    </section>

                </form>

            </mat-card-content>

        </mat-card>

    </div>

</div>
